<div class="detail-background">
    <a routerLink=""
        ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path
                d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"
            />
        </svg>
        Go back</a
    >
    <ng-container *ngIf="getCountry().country">
        <h1 class="country-name">{{ getCountry().country }}</h1>
        <!-- Other content related to country -->
        <div class="country-infos">
            <div class="country-box">
                <h2>Number of participations</h2>
                <p>{{ getData().numberOfParticipations }}</p>
            </div>
            <div class="country-box">
                <h2>Total number of medals</h2>
                <p>{{ getData().numberOfMedals }}</p>
            </div>
            <div class="country-box">
                <h2>Total number of athletes</h2>
                <p>{{ getData().numberOfAthletes }}</p>
            </div>
        </div>
    </ng-container>
    <app-olympic-chart-detail></app-olympic-chart-detail>
</div>
