<div class="chart-container" #containerRef>
    <ngx-charts-pie-chart
        [results]="data"
        [labels]="showLabels"
        [view]="[containerRef.offsetWidth, containerRef.offsetHeight]"
        [scheme]="colorScheme"
        [legend]="showLegend"
        [doughnut]="isDoughnut"
        [explodeSlices]="explodeSlices"
        [gradient]="gradient"
        [trimLabels]="trimLabels"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)"
    ></ngx-charts-pie-chart>
</div>
