.home-background {
    min-height: 100vh;
    background-color: #39818d;
    padding-bottom: 40px;
}

.home-background > h1 {
    width: 100%;
    text-align: center;
    margin-top: 0;
    padding-top: 40px;
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}
