<div class="home-background">
    <h1>The Olympic Games</h1>
    <h1>{{ (olympics | async)?.length }} data loaded</h1>
    <!--<div class="home-olympics">
        <div *ngFor="let olympic of olympics | async">
            <div class="home-olympic">
                <h2>{{ olympic.id }}</h2>
                <p>{{ olympic.country }}</p>
                <a [routerLink]="['/detail', olympic.id]">View</a>
            </div>
        </div>
    </div>-->
    <app-olympic-chart></app-olympic-chart>
</div>
