/* You can add global styles to this file, and also import other style files */

* {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html,
body {
    margin: 0 !important;
    padding: 0;
}

.pie-label {
    font-size: 2rem !important;
    font-family: Arial, Helvetica, sans-serif;
    fill: #f6f6f6 !important;
    background-color: #f6f6f6;
    text-decoration: none;
}

.ngx-charts {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
}

text.ng-star-inserted {
    font-size: 1rem !important;
}

@media screen and (max-width: 1000px) {
    .pie-label {
        font-size: 1.3rem !important;
    }
}

@media screen and (max-width: 568px) {
    .pie-label {
        font-size: 1rem !important;
    }
}
